<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/pinkCloud.png">
    <link rel="stylesheet" href = "./css/styleAbout.css"> 
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p></p>
        <div class="center">
            <img class="portrait" src = "/img/albaugh.jpg">
            <p class="bio">Hi, my name is Lea, and this is my first node.js project!</p> 
            <p>This site uses data from geocodio and weatherAPI.com.</p>
        </div>
    </div>
    {{>footer}}

</body>

</html>